<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"></span>
      <!-- Add spacer, to align navigation to the right -->
    </div>
  </header>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="page-content mdl-cell mdl-cell--12-col">
	<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 460px;margin: 0 auto;">
	  <div class="mdl-card__title">
	    <h2 class="mdl-card__title-text">Todo's</h2>
	    
		<button (click)="todoService.deleteChecked()" id="delete-all" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
		  <i class="material-icons">delete</i>
		</button>
		<div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="delete-all">
		Delete all checked
		</div>
	  </div>
	  <div class="mdl-card__supporting-text">
		  <app-message-header></app-message-header>
		  <div>
		  	  <h4 class="mdl-card__title-text" 
		  	  style="border-bottom:2px #ddd dashed;margin: 10px 0 25px 0;">
		  	  </h4>
			  <app-simple-form *ngFor="let todo of todoService.todos; let i = index; trackBy: index" [todo]='todo' [index]='i'></app-simple-form>
		  </div>
	  </div>
	</div>
    </div>
  </main>
</div>